.popup__close-button_place_image {
  width: 32px;
  height: 32px;
  top: -40px;
  right: 0px;
}

@media screen and (max-width: 525px) {
  .popup__close-button_place_image {
    width: 20px;
    height: 20px;
    position: static;
    align-self: flex-end;
    margin-bottom: 12px;
  }
}