.popup__container_type_image {
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  background-color: unset;
  border-radius: 0;
  padding: 0;
  overflow-y: visible;
}

@media screen and (max-width: 525px) {
  .popup__container_type_image {
    justify-content: center;
  }
}