.mobile-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, #770078, #8d0096, #a200b7, #b500da, #c700ff);
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 24px 5px;
  transition: opacity 0.6s;
}

@media screen and (max-width: 525px) {
  .mobile-menu {
    padding: 18px 12px 0;
  }
}