.mobile-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fb00ff;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 24px 0;
    transition: opacity 0.6s;
    overflow-y: hidden;
}

@media screen and (max-width: 525px) {
    .mobile-menu {
        padding: 18px 12px 0;
    }
}