.about__contacts-list {
    max-width: 450px;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px 17px;
    justify-items: center;
    padding: 0;
    margin: 0;
    margin: auto;
}