.afisha__item {
  color: #fff;
  background-position: center;
  object-fit: cover;
  height: 282px;
  width: 282px;
  display: flex;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 50%;
}
