.footer {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 1184px;
  margin: auto;
  padding: 32px 0px;
}

@media screen and (max-width: 1280px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 525px) {
  .footer {
    margin-left: 12px;
    margin-right: 12px;
  }
}