.hamburger__button {
  margin-top: 15px;
  width: 38px;
  height: 6px;
  background-color: #fb00ff;
  position: absolute;
  border-radius: 20px;
  transition-duration: 0.25s;
}

.hamburger__button::before {
  left: 0;
  position: absolute;
  top: -15px;
  height: 6px;
  width: 38px;
  content: "";
  background-color: #fb00ff;
  border-radius: 20px;
  transition-duration: .25s;
}

.hamburger__button::after {
  left: 0;
  position: absolute;
  top: 15px;
  height: 6px;
  width: 38px;
  content: "";
  background-color: #fb00ff;
  border-radius: 20px;
  transition-duration: .25s;
}