.about__history-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 30px;
    justify-items: center;
}

@media screen and (max-width: 593px) {
    .about__history-container {
        padding: 0 10px;
    }
}