.about__history-container {
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 30px;
    justify-items: center;
}